<div class="md:container sm:w-full bg-edb099 font-inter shadow-2xl  text-white rounded-[25px] flex flex-row">
  <div class="col-span-1 p-4">
    <label for="nombre" class="block text-3xl pb-6 pt-2 font-medium pl-[13px]">Lista Rápida</label>
    <div class="flex-shrink">
      <input type="text" [formControl]="FormCtrl" (keydown.enter)="newTasks()" id="nombre"
        class="w-full h-[53px] text-black px-6 bg-slate-200 rounded-[30px] focus:outline-none focus:border-blue-500"
        placeholder="Ingresá tus tareas aquí" />
    </div>
    <p *ngIf="tasks().length === 0; else emptyTasks" class="text-start text-lg mt-4 pl-[15px] pb-4 font-light text">Lista vacía, nada que
      mostrar por aquí</p>
    <ng-template #emptyTasks>
      <div class="md:container mt-5">
        <div class="grid grid-cols-2">
          <p class="text-sm font-bold pl-5">Nombre</p>
        </div>
        <ul class="divide-y divide-white list-none">
          <li *ngFor="let task of tasks(); let i=index" class="py-4 flex flex-row flex-wrap justify-between relative" (mouseover)="showElement(i)" (mouseleave) = "hideElement()">
            <div class="flex flex-col gap-3 mx-[15px]" (click)="showHoursAndMinutes(i)">
              <p>{{ tasks()[i].taskname}}</p>
              <p>{{showHoursAndMinutes(i)}}</p>
            </div>
            <span *ngIf="indice === i" (click)="DeleteTask($event, i)"class="right-5 w-auto h-auto flex justify-center top-0 pr-4 items-center transition-all ease-in-out duration-200">
              <img src="assets/icons/borrar.png" class="w-[23px] h-[25px]">
            </span>
          </li>
        </ul>
      </div>
    </ng-template>
  </div>
</div>
