<div class="w-[588.9px] min-h-[149px] bg-edb099 font-inter shadow-2xl  text-white rounded-[30px] grid grid-cols-1">
  <div class="col-span-1 p-4">
    <label for="nombre" class="block text-3xl pt-[27x] pb-5 font-medium pl-[13px]">Lista Rápida</label>
    <div class="flex-shrink">
      <input type="text" [formControl]="FormCtrl" (keydown.enter)="newTasks()" id="nombre"
        class="w-full h-[53px] text-black px-6 bg-slate-200 rounded-[30px] focus:outline-none focus:border-blue-500"
        placeholder="Ingresá tus tareas aquí" />
    </div>
    <p *ngIf="tasks().length === 0; else emptyTasks" class="text-start mt-4 pl-[15px] pb-4 font-bold text">Lista vacía, nada que
      mostrar por aquí</p>
    <ng-template #emptyTasks>
      <div class="md:container mx-auto mt-5">
        <div class="grid grid-cols-2">
          <p class="text-sm font-bold pl-5">Nombre</p>
          <p class="text-sm text-right font-bold pr-5">Finalizada</p>
        </div>
        <ul class="divide-y divide-white list-none hover:list-disc">
          <li *ngFor="let task of tasks(); let i=index" class="py-4 grid grid-cols-4"
            (mouseover)="ShowElement(i)">
            <div class="flex flex-col gap-1 mx-[15px] col-span-3">
              <p>{{ tasks()[i].taskname}}</p>
              <p class="text-xs">{{tasks()[i].date.getHours() + ":" + tasks()[i].date.getMinutes()}}</p>
            </div>
            <div class="pt-2 col-span-1">
              <input *ngIf="indice === i" class="form-radio h-6 mx-[50%] w-6 text-indigo-600" type="radio"
                (click)="DeleteTask($event, i)">
            </div>
          </li>
        </ul>
      </div>
    </ng-template>
  </div>
</div>
