<div  class="bg-indigo-400 rounded-[40px]  font-inter md:w-[659px] relative p-3 md:h-auto shadow-2xl sm:w-[540px] sm:h-auto flex flex-col justify-center items-center gap-4 overflow-hidden">
    <span (click)="ImprimirValor" class=" cursor-default text-8xl text-white font-light mb-4 z-10 relative">{{date.getFullYear()}}</span>
    <div class="absolute top-0 left-0 w-full h-full bg-slate-400 bg-opacity-60 backdrop-blur-3xl z-0"></div>

    <div class="relative z-20 flex flex-wrap justify-center items-center gap-4">
        <div *ngFor="let mont of this.months; let i = index" class="cursor-pointer h-[115px] w-[115px] bg-white rounded-[25px] flex justify-center top-0">
        <div>{{this.months[i].name}}</div>

        </div>
    </div>
</div>
