<div class="relative bg-indigo-400 rounded-2xl font-inter md:w-[659px] p-3 md:h-auto shadow-md sm:w-[540px] sm:h-auto flex flex-col justify-center items-center gap-4 overflow-hidden">
    <span class="text-8xl text-white font-light mb-4 z-10 relative">2024</span>

    <div class="absolute top-0 left-0 w-full h-full bg-slate-400 bg-opacity-60 backdrop-blur-3xl z-0"></div>

    <div class="relative z-20 flex flex-wrap justify-center items-center gap-4">
        <div class="h-[115px] w-[115px] bg-white rounded-[25px]"></div>
        <div class="h-[115px] w-[115px] bg-white rounded-[25px]"></div>
        <div class="h-[115px] w-[115px] bg-white rounded-[25px]"></div>
        <div class="h-[115px] w-[115px] bg-white rounded-[25px]"></div>
        <div class="h-[115px] w-[115px] bg-white rounded-[25px]"></div>
        <div class="h-[115px] w-[115px] bg-white rounded-[25px]"></div>
        <div class="h-[115px] w-[115px] bg-white rounded-[25px]"></div>
        <div class="h-[115px] w-[115px] bg-white rounded-[25px]"></div>
        <div class="h-[115px] w-[115px] bg-white rounded-[25px]"></div>
        <div class="h-[115px] w-[115px] bg-white rounded-[25px]"></div>
        <div class="h-[115px] w-[115px] bg-white rounded-[25px]"></div>
        <div class="h-[115px] w-[115px] bg-white rounded-[25px]"></div>
    </div>
</div>
