<div class="bg-black rounded-[25px] grid grid-rows-3 p-4 grid-flow-col gap-3 pt-24">
    <div class="h-[130px] w-[110px] bg-white rounded-[25px]"></div>
    <div class="h-[130px] w-[110px] bg-white rounded-[25px]"></div>
    <div class="h-[130px] w-[110px] bg-white rounded-[25px]"></div>
    <div class="h-[130px] w-[110px] bg-white rounded-[25px]"></div>
    <div class="h-[130px] w-[110px] bg-white rounded-[25px]"></div>
    <div class="h-[130px] w-[110px] bg-white rounded-[25px]"></div>
    <div class="h-[130px] w-[110px] bg-white rounded-[25px]"></div>
    <div class="h-[130px] w-[110px] bg-white rounded-[25px]"></div>
    <div class="h-[130px] w-[110px] bg-white rounded-[25px]"></div>
    <div class="h-[130px] w-[110px] bg-white rounded-[25px]"></div>
    <div class="h-[130px] w-[110px] bg-white rounded-[25px]"></div>
    <div class="h-[130px] w-[110px] bg-white rounded-[25px]"></div>
</div>